{% extends "base.html.twig" %}

{% block title %} Hello world!{% endblock %}

{% block content %}
    <h1>Hello world!</h1>
    {% for questionnaire in questionnaire %}
    <a href="/hello/{{ questionnaire.getIdQuestionnaire }}">

{% endblock %}